.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.card {
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    background-color: darkslategrey;
    border-radius: 16px;
}

.card:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 10px 10px #9ecaed;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
    cursor: pointer;
}

.card img{
    border-radius: 16px;
}